html {
    font-size: 35px; /* px means "pixels": the base font size is now 10 pixels high */
    color: blue;
    background-color: #00539f; /*#00539f;*/
    direction: rtl;
}
table {
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    box-shadow: 10px 20px 30px blue;
}
th,
td {
    text-align: left;
    padding: 8px;
    border: groove;
    border-width: 3px;
        text-align: center;
}
th {
    background-color: #7c0f65;
    color: white;
    font-size: 40px;
}
td {
    font-size: 45px;
}
tr:nth-child(even) {
    background-color: #7ce2af
}
tr:nth-child(odd) {
    background-color: white
}
.bed {
    color: red;
/*    font-weight: bold;  */
}

#home {
    width: 1000px;
    margin: 0 auto;
    background-color: darksalmon; 
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}

/***********************************************/
a:link, a:visited {
    background-color: green;
    color: white;
    padding: 14px 25px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    text-size-adjust: auto;
}

a:hover, a:active {
    background-color: red;
}

a {
    width: 935px;
}

section:hover, section:active {
    background-color: red;
}

.myMenu {
    background-color: blue; /* #f44336 */
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 190px;
    font-size: 50px;
}

.myBold {
 color: yellow;
 font-weight:bolder;
 }
.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    
}

button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: .20rem;
    font-size: 40px;
    color: blue; /*#666666;*/
    background: #ffffff;
    border: 1px solid #666666;
}

    button:hover {
        border: 1px solid #666666;
        background: #666666;
        color: #ffffff;
    }

img {
    display: block;
    height: 100px;
    width: 100px;
    /*   direction:rtl;*/
    margin-left: auto;
    margin-right: auto;
}
#pass {
    font-size: 40px;
    color: blue;
}
#update {
   color: yellow;
    background-color: purple;
    font-size: 1.4em;
    text-align:center;
    width: 985px;
    font-weight:bold;
}

